<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>netctoss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>web.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>main</servlet-name>
     <url-pattern>*.do</url-pattern>
  </servlet-mapping> 
  
  
   <filter>
       <filter-name>login</filter-name>
       <filter-class>web.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
       <filter-name>login</filter-name>
       <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  
  
  
  
  
  <error-page>
  <!-- 可以通过exception-type声明哪种类型的异常
            转发到哪个错误页面，也可以通过error-code声明
           哪个编号的异常转发到哪个错误页面 -->
  
  <!-- 发生哪种异常时 -->
     <exception-type>java.lang.Exception</exception-type>
     <!-- 要转发到那个错误页面,此处无法预判错误的来源，适合写绝对路径
                因为转发只局限于当前项目内，tomcat会自动在路径前补充上项目名
                 所以此处一定不要写项目名-->
     <location>/WEB-INF/error.jsp</location>
  </error-page>
  
  
</web-app>